body {
    margin: 0px;
    color: #333;
    background-color: #FFF;
    letter-spacing: 1px;
}

section {
    padding: 75px 0;
}

.pg-arrow {
    padding: 0 20px;
    color: grey;

}

.pg-arrow:hover {
    color: rgb(150, 14, 84);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -100px;
}

.titleMessage .heading p {
    color: #FFF;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 23px;
}

.slides-navigation {
    z-index: 6;
}

.aboutImage {
    width: 65%;
    margin-bottom: 10px;
    box-shadow: 0 0 8px 8px white inset;

}

.skillsSection {
    background-color: rgb(150, 14, 84);
    color: #FFF;
}

.resumeHeader span{
    border-bottom: rgb(150, 14, 84) 3px solid;
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    
    text-align: center;

}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0
}

.chart .percent {
    color: #f78fb3;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: "%";
}

.resumeSection .container ul {
    margin-bottom: 0;
}

.navbar-brand {
    color: #FFF;
    border: 2px solid #FFF;
    border-radius: 10%;
    font-size:1em;
    width:2.2em;
    height:2.2em;
    line-height:1.2em;
    text-align:center;
    vertical-align:middle;
    margin-right:1em;
}

.navbar-brand:hover {
    color: #f78fb3;
}

.alt-nav {
    color: rgb(150, 14, 84);
    background-color: #FFF;
}



#navigation {
    background-color: rgb(150, 14, 84);
    padding: 20px 10px;
    z-index: 100;

}

#navigation li {
    padding: 0 10px;
}


#navigation li a {
    color: #FFF;
}

#navigation li a:hover {
    color: rgba(255, 255, 255, 0.5);
}

#school {
    margin-bottom: 20px;
}

